.Home {
    
    display: flex;
    height: 630px;
    padding-top: 85px;
    padding-left: 100px;
}
h1  {
   font-size: 35px;

}
.Selfi {
    border-radius: 50%;
    height: 550px;
}

.Container{
    padding: 100px;
    color: seashell;

}
.Hello {
    padding-right: 20px;
    align-content: flex-start;
}

