.card-body {
    display: inline-block;
    width: 400px;
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    position: relative;
}

img {
    width: 400px;
    margin-left: 20px;
    height: 300px;

}
h1 {
    font-size: 20px !important;
    margin-left: 60px;
    color: red;
}

p{
    font-size: 13px !important;
    margin-left: 25px;
    color: white;
}
#budget {
    margin-bottom: 40px; 
}
.link {
    margin-left: 100px; 

}
.card-git {
    margin-left: 30px;
    border-left: 20px;
}