.ContainerP {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-top: 2%;

    
}
hr {
    position:absolute;
    left: 0;
    width:10px;
    border: 1px solid hsla(276, 16%, 6%, 0.027);
}
