ul {
    background-color: #181818;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 999;
    opacity: 0.9;
    display: flex;
    justify-content: space-evenly;
    align-items: center;  
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
}
li{
    display: inline-block;
    margin-left: 20px !important;
}
a {
    text-decoration: none;
    color: wheat;
    font-size: 25px;
}
a:hover {
    border-bottom: 3px solid #8c1cd1;

}
