.about-me{
    height: 580px;
    padding-top: 80px;
    border-left: 20px;
    
}
.skills-img {
    padding-top: 20px;
    border-radius: 20%;
}
h4 {
    display: flex;
    padding-left: 20px;
    color: tomato;
}
p {
    font-size: 20px !important;
    font-family: 'Times New Roman';
    color:#ffff00cc;
}
.Skills {
    padding-bottom: 60px;
}
.card-git {
    background-color: teal; 
    border-radius: 5%;
}
.wrap-about {
    display:flex;
    justify-content: center;
    height: fit-content;
}
@media screen and (width: 1000px) {
    .about-me {
        display:flex;
        flex-direction: column,
    }
}