.wrap-contact {
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-top: 100px;
}
.Contact {
    height: 580px;
    margin-top: 60px;

}
.actions{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px; 
    margin-left: 200px; 
}
.field{
    width: 800px;
}
#message {
    width: 500px;
    margin-left: 60px;
    display: flex;
    height: 90px;
    
}
#name {
    margin-left: 20px;
    width: 400px;
    margin-bottom: 10px;
}
#email {
    margin-left: 20px;
    width: 400px;
}
h6 {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-right: 120px;
    font-size: 15px;
    color: coral;
}