.wrap {
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-top: 100px;
}
.hand {
    margin-right: 80px;
    
}
.Contact {
    height: 580px;

}
.actions{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px; 
    margin-left: 200px; 
    

}
.field{
    width: 400px;
}
#message {
    width: 500px;
    margin-left: 60px;
    display: flex;
    height: 80px;
    
}