h1 {
    font-weight: 900;
    font-size:45px;
}
H2 {
    font-weight: 700;
    font-size: 35px;
}
p {
    font-weight: 500;
    font-size: 40px;
}
.App-img {
    width: 100%;
    height: max-content;
}
@media screen and (max-width: 1000px) {
    ul {
      display: flex;
      flex-direction: column;

    }
  }

@media  screen and (width: 1000px) {
    .Projects {
        display: flex;
        flex-wrap: wrap;
    }

    
}
@media  screen and (max-width: 1000px) {
    ul {
        display:flex ;
        flex-wrap: wrap;
        flex-direction: column;
    }
}
@media  screen and (max-width: 1000px) {
    .Home {
        display: inline-block;
        height: fit-content;
        width: fit-content; 
    }
}
@media  screen and (max-width: 1000px) {
        .Contact {
            height: fit-content;
            width: fit-content;
            padding-bottom: 20px;
    }
}
@media  screen and (max-width: 1000px) {
    h6{
        display: inline-flex;
        flex-wrap: wrap;
        padding-left: 100px;
     
    }
}
@media  screen and (max-width: 1000px) {
    .wrap-contact{
        display:flex ;
        flex-wrap: wrap;
        margin-left: 10px;
        width: fit-content;
        height: fit-content;
    }
}
@media  screen and (max-width: 1000px) {
    #about-me {
        display: block;
        justify-content: center;
        align-items: center;
        height: fit-content;
    }
}
@media  screen and (max-width: 1000px) {
    .skills-img {

        padding-right: 100px;
        border-left: 0 !important;
    }
}